.table4{
    margin-left: 450px;
    border-radius: 8px;
    margin-bottom: 70px;
}

.box1{
    width: 300px;
    border: 2px solid black;
    margin-left: 40%;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
}